extends index.pug 

block contenido 
    h1 Productos agregados

    if productos[0].title
        table
            thead
                th Title
                th Price
                th Thumbnail
            tbody
                each prod in productos
                    tr
                        td= prod.title
                        td= '$' + prod.price
                        td 
                            img(style="width: 50px; height:50px" src=prod.thumbnail)
    else
        h2 No hay productos agregados
    button
        a(href="http://localhost:8080/" style="text-decoration:none; color: black") Cargar productos
