<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personas</title>
</head>

<body style="background-color: lightblue; display: flex; justify-content: center; align-items: center; flex-direction: column;">

    <h1>Productos agregados</h1>

    <% if (productos.length > 0) { %>
    <table>
        <thead>
            <th>Title</th>
            <th>Price</th>
            <th>Thumbnail</th>
        </thead>
        <tbody>
            <% productos.forEach(prod=>{ %>
            <tr>
                <td><%= prod.title %></td>
                <td>$ <%= prod.price %></td>
                <td><img style="width: 50px; height:50px" src=<%= prod.thumbnail %> alt=""></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <% } else { %>
    <p>No hay productos agregados</p>
    <% } %>
    <button>
        <a href="http://localhost:8080/" style="text-decoration:none; color: black">Cargar productos</a>
    </button>
    

</body>

</html>